@page "/"
@layout MainLayout
<h1 style="margin-left:10px">Exemption filing system</h1>
<p style="margin-left: 10px; font-size:13px"> This page will me the main page for all users after they login to the system.</p>
<p style="margin-left: 20px; font-size:15px">
    <b><u>Development status: </u></b><br />
    1 -> Database design and models creation- Microsoft SQL Server <br />
    2 -> Blazor server + Blazor Client projects Including MudBlazor framework <br />
    3- > Entity Framework connection <br />
    4 -> Main page design <br />
    5 -> Main Menu including Achva Logo, with ability to disable buttons according to the users permissions <br />
    6 -> Create API for authentication process <br />
    7 -> Register page functionality E2E flow <br />
    8 -> Login page functionality E2E flow <br />
    9 -> Light/Dark mode theme <br />
    10 -> Default fallback page <br />
    11 -> Create API for Departments class - Tested with Postman <br />
    12 -> Create API for Courses class- Tested with Postman <br />
    13 -> Implement Swagger UI for API Tests and Documentation <br />
    14 -> Exemption application page design <br />
    15- > Ability to request for exemption by a student or secretariat <br />
    16 -> Page design for head of the department showing list of applications <br />
    17 -> Ability to approve or reject application head of the department and secretariat <br />
    18 -> Page for instructor to approve the request <br />
    19- > Page design for administrator to approve account <br />
    20 -> Page for the secretary to add new courses to the system to the relevant department <br />
    21 -> Page design for student showing all his applications and status with search ability <br />
    22 -> Registration page - add option to choose the User type <br />
    23 -> Sending email to the relevant party if any update occurs in the application <br />
    24 -> Abiulity to appeal for reected appication <br />
    25 -> Change Application request input values <br />
    26 -> add instructor name in application request under when adding notes <br />
</p>
<p style="margin-left: 20px; font-size:15px">
    <b><u>Next tasks: </u></b><br />
    1 -> User settings page - Edit Profile - Not mandatoy <br />
</p>

